<script type="module">
const firebaseConfig = {
  apiKey: "{{site.apiKey}}",
  authDomain: "{{site.authDomain}}",
  projectId: "{{site.projectId}}",
  databaseURL: "{{ site.databaseURL }}",
  storageBucket: "{{site.storageBucket}}",
  messagingSenderId: "{{site.messagingSenderId}}",
  appId: "{{site.appId}}",
  measurementId: "{{site.measurementId}}"
};
      firebase.initializeApp(firebaseConfig);
      
      const auth = firebase.auth();
      
      const userSignedInDiv = document.getElementById('user-signed-in');
      const logInButton = document.getElementById('log-in-button');

      function toggleUI() {
        if (auth.currentUser) {
		document.getElementById('tab-button-login').style.display = 'none';}else{document.getElementById('tab-button-akun').style.display  = 'none';}}
      
      auth.onAuthStateChanged(user => {
        toggleUI();
      });
</script>