<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark" />

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
  
  <meta property="og:site_name" content="{{site.title}}">
  <meta property="og:image" content="https://ionicframework.com/docs/img/demos/card-media.png">
  <meta property="twitter:image" content="https://ionicframework.com/docs/img/demos/card-media.png">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta property="twitter:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ '/assets/css/main.css?v=1.0' | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  
  <script type="module" src="{{ '/assets/vendor/@ionic/core/dist/ionic/ionic.esm.js?v=8.0' | relative_url }}"></script>
  <script nomodule src="{{ '/assets/vendor/@ionic/core/dist/ionic/ionic.js?v=8.0' | relative_url }}"></script>
  <link rel="stylesheet" href="{{ '/assets/vendor/@ionic/core/css/ionic.bundle.css?v=8.0' | relative_url }}" />
	<script type="module" src="{{ '/assets/vendor/ionicons/dist/ionicons/ionicons.esm.js' | relative_url }}"></script>
	<script nomodule src="{{ '/assets/vendor/ionicons/dist/ionicons/ionicons.js' | relative_url }}"></script>

  <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-database.js"></script>

  <script src="{{ '/assets/js/jquery/jquery.min.js?v=3.6.0' | relative_url }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>

  {% feed_meta %}
</head>
