
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="logo-ionic"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="produk">
      <ion-icon name="storefront-outline"></ion-icon>
      Produk
    </ion-tab-button>
    <ion-tab-button tab="keranjang">
      <ion-icon name="cart-outline"></ion-icon>
      Keranjang
    </ion-tab-button>
    <ion-tab-button id='tab-button-akun' tab="akun">
      <ion-icon name="person-outline"></ion-icon>
      Akun
    </ion-tab-button>
    <ion-tab-button id='tab-button-login' tab="login">
      <ion-icon name="person-outline"></ion-icon>
      Akun
    </ion-tab-button>
  </ion-tab-bar>
