  <ion-tab tab="produk">
    <div id="produk-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Produk</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content style="display: contents;">
        <div class="tab-container post-produk">
		{% for product in site.posts %}
			<ion-card>
				<img class="product-thumb" src="{{ product.featured_image_path }}">
				<div class="desc-box">
					<span class="product-price">Rp.{{product.price}}</span>
				</div>
			</ion-card>
		{% endfor %}
		</div>
      </ion-content>
    </div>
  </ion-tab>