  <ion-tab tab="produk">
    <div id="produk-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Produk</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content style="display: contents;">
        <div class="tab-container post-produk">
		{% for product in site.data.produk %}
			<ion-card>
				<img class="product-thumb" src="{{ product.image }}">
				<a href="javascript();" onclick="openModal({{ product.id }})">
				<div class="desc-box">
					<span class="product-price">Rp.{{product.price}}</span>
				</div>
				</a>
			</ion-card>
		{% endfor %}
		</div>
      </ion-content>
    </div>
  </ion-tab>