  <ion-tab tab="keranjang">
    <div id="keranjang-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Keranjang</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content style="display: contents;">
        <div class="tab-container">
    {% if page.url == "/LoggedIn" %}
			<div class="simpleCart_items"></div>
    {% elsif page.url == "/" %}
	<div class="center-style">
	<ion-text color="danger">
		<h2>Anda belum Login</h2>
	</ion-text>
	</div>
    {% endif %}
		</div>
      </ion-content>
    </div>
  </ion-tab>