.tab-container {
    max-width: 1024px;
	width: 100%;
    margin: auto;
    padding: 60px 0;
}

.product-thumb {
	object-fit: cover;
	background-position: center;
	width: 100%;
    height: 340px;
	@include mobile {
        height: 400px;
		}
}

.desc-box {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    padding: 20px;
    background: #25202030;
    width: 100%;
    box-shadow: -1px -4px 16px -5px #000000c4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.grid-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
	@include mobile {
		grid-template-columns: 1fr 1fr;
		grid-gap: 0;
	}
}
.img-home-grid {
    object-fit: cover;
    background-position: center;
    height: 210px;
	@include mobile {
		height: 150px;
	}
}
.signin_box {
    max-width: 380px;
    width: 100%;
    margin: 75px auto 0px;
}
ion-col {
    background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
    height: 200px;
    border-radius: 10px;
    margin: 0 10px;
	@include mobile {
		height: 100px;
	}
}
ion-thumbnail {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
}