<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'id-ID' }}">

  {% include head.html %}
  
<body id="Apps">
	<ion-app>
		<ion-content class="ion-padding">
			<ion-tabs>
				{{ content }}
			</ion-tabs>
		</ion-content>
	</ion-app>

</body>
<script>
  const toggle = document.querySelector('#paletteToggle');

  toggle.addEventListener('ionChange', (event) => {
    toggleDarkPalette(event.detail.checked);
  });

  const prefersDark = window.matchMedia('(prefers-color-scheme: dark)');

  initializeDarkPalette(prefersDark.matches);

  prefersDark.addEventListener('change', (mediaQuery) => initializeDarkPalette(mediaQuery.matches));

  function initializeDarkPalette(isDark) {
    toggle.checked = isDark;
    toggleDarkPalette(isDark);
  }

  function checkToggle(shouldCheck) {
    toggle.checked = shouldCheck;
  }

  function toggleDarkPalette(shouldAdd) {
    document.documentElement.classList.toggle('ion-palette-dark', shouldAdd);
  }
</script>
</html>
